<div class="Inventories-show-body">
    <section class="show-header">
        <h1><%= @inventory.name %></h1>
        <div class="add-food-btn-div">
            <button class="click-btn-inventory-food">Add Food</button>
        </div>
    </section>
    <section class="show-table-container">
        <table>
          <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
          <% @inventory_foods.each do |inventory| %>
          <tr>
              <td><%= inventory.foods.name %></td>
              <td><%= inventory.quantity %></td>
              <td>
                <%= button_to "Remove", delete_inventory_food_path(inventory.id), method: :delete, data: {turbo_method: :delete} %>
              </td>
          </tr>
          <% end %>
        </table>
    </section>
</div>
<div class="modal">
  <div class="modal-content">
  <button class="close_btn">X</button>
  <div>
    <span>Select an ingredient:</span>
    <%= render 'inventories_food'%>
  </div>
</div>



<script>
  document.querySelector('.click-btn-inventory-food').addEventListener('click', (event) => {
    document.querySelector('.modal').style.visibility = 'visible'
    document.querySelector('#body').style.overflow = 'hidden'
  })

  document.querySelector('.close_btn').addEventListener('click', (event) => {
    document.querySelector('.modal').style.visibility = 'hidden'
    document.querySelector('#body').style.overflow = 'scroll'
  })
</script>