<div class="recipes-container">
<%= link_to "<button>Create a New recipe</button>".html_safe, new_recipe_path, class: 'add-recipe'%>
   <% @recipes.each_with_index do |recipe, index| %>
      <%= link_to recipe_path(:id => recipe.id) do %>
      <section class='recipe-div'>
        <div class="recipe-title">
        <h2>Recipe <%= index + 1 %></h2>
        <%= button_to 'Remove', delete_recipe_path(recipe.id), method: :delete, data: {turbo_method: :delete} %>
        </div class="recipe-content">
        <div>
            <span>Description for the recipe</span>
            <p><%= recipe.description %></p>
        </div>
      </section>
      <% end %>
   <% end %>
</div>