<div class="flex flex-col justify-center items-center px-[15vw] gap-5">
<section class="flex flex-col gap-7">
  <h1 class="text-3xl underline underline-offset-8 text-center">Recipe <%= @recipe.name %> </h1>
  <div class="flex flex-row justify-between items-center text-xl gap-10">
    <h1>Preparation Time: <span class="bg-yellow-500 text-white px-3 py-1 rounded-md"><%= @recipe.preparation_time %></span></h1>
    <section class="public-btn-div">
      <h3 class="public-private-label">Change to:</h3>
      <% if @recipe.public %>
        <%= button_to "Private", toggle_public_path(@recipe.id), method: :patch, class: "public-private-btn-close"  %>
      <% else %>
        <%= button_to "Public", toggle_public_path(@recipe.id), method: :patch, class: "public-private-btn"  %>
      <% end %>
    </section>
  </div>
  <div class="flex flex-col gap-5 text-xl">
   <h2>Cooking Time: <span class="bg-yellow-500 text-white px-3 py-1 rounded-md"><%= @recipe.cooking_time %></span></h2>
   <p> <%= @recipe.description %> </p>
   <section class="flex flex-row justify-between border-b-2 border-black pt-[40px] px-[20px] pb-[20px]">
  <% if can? :create, @recipe %>
    <button class="shadow-md shadow-secondary rounded-md hover:bg-primary hover:text-white" id="gen_shopping_btn">Generate shopping list</button>
    <button class="shadow-md shadow-secondary rounded-md hover:bg-primary hover:text-white" id="click_btn">Add ingredient</button>
  <% end %>
  </section>
  </div>
</section>
<section class="flex justify-center">
    <table class="w-full bg-tertiary text-white min-w-sixty desktop:min-w-[50vw] justify-center items-center border-2">
  <tr>
    <th class="border-r-2 text-left pl-20">Food</th>
    <th class="border-r-2 text-left pl-20">Quantity</th>
    <th class="border-r-2 text-left pl-20">Value</th>
    <th class="text-left pl-20">Actions</th>
  </tr>
  <% @recipe_foods.each do |recipe_food| %>
    <tr class="bg-white text-black">
      <td class="border-r-2 border-b-2 text-left pl-20"><%= recipe_food.foods.name%></td>
      <td class="border-r-2 border-b-2 text-left pl-20"><%= recipe_food.quantity%></td>
      <td class="text-left border-r-2 border-b-2 pl-20"><%= recipe_food.quantity * recipe_food.foods.price %>$</td>
      <td class="text-left border-b-2 pl-20 flex flex-row justify-around items-center py-3">
      <% if can? :edit, @recipe %>
        <button class='rounded-md hover:text-white hover:bg-primary'>Modify</button>
      <% end %>
      <% if can? :destroy, @recipe %>
        <%= button_to 'Delete', delete_recipe_food_path(:recipe_food_id => recipe_food.id, :recipe_id => params[:id]), method: :delete, class: 'rounded-md hover:text-white hover:bg-primary', data: {turbo_method: :delete} %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
</section>
<section class="hidden fixed bg-white min-w-sixty" id="modal">
  <div id="modal-content" class="hidden py-2 px-5 border-2 border-black flex flex-col shadow-lg rounded-lg shadow-secondary">
    <button id="close_btn" class="w-[20px] self-end border-0">X</button>
    <span class="text-2xl">Select An Ingredient:</span>
    <%= render 'recipes_food'%>
  </div>
</section>
<section id="modal_shopping" class="hidden fixed bg-white min-w-[40vw]">
  <div id="modal-shopping-content" class="hidden py-2 px-5 border-2 border-black flex flex-col shadow-lg rounded-lg shadow-secondary">
    <button id="shopping_close_btn" class="w-[20px] self-end border-0">X</button>
    <h1 class="text-2xl py-10">Generating Shopping List</h1>
    <p class="text-xl">Choose an inventory to use:</p>
    <%= render 'shopping_list'%>
  </div>
</section>
</div>

<script>
  document.querySelector('#click_btn').addEventListener('click', (event) => {
    document.querySelector('#modal').classList.remove('hidden');
    document.querySelector('#modal-content').classList.remove('hidden');
    document.querySelector('#body').style.overflow = 'hidden';
  });

  document.querySelector('#close_btn').addEventListener('click', (event) => {
    document.querySelector('#modal').classList.add('hidden');
    document.querySelector('#modal-content').classList.add('hidden');
    document.querySelector('#body').style.overflow = 'scroll'
  })

   // For shopping List
  document.querySelector('#gen_shopping_btn').addEventListener('click', (event) => {
    document.querySelector('#modal_shopping').classList.remove('hidden');
    document.querySelector('#modal-shopping-content').classList.remove('hidden');
    document.querySelector('#body').style.overflow = 'hidden'
  })

  document.querySelector('#shopping_close_btn').addEventListener('click', (event) => {
    document.querySelector('#modal_shopping').classList.add('hidden');
    document.querySelector('#modal-shopping-content').classList.add('hidden');
    document.querySelector('#body').style.overflow = 'scroll'
  })

//   document.querySelectorAll('.modal-contents > div:first-of-type > span').forEach(element => {
//     element.addEventListener('click', () => {
//     document.querySelector('.recipe-modal').style.display = 'none'
//     document.querySelector('.shopping-modal').style.display = 'none'
//   })
// })
</script>