<div class="foods-container">
<%= form_with model:Food do |form| %>
  
  <%= form.text_field :price, placeholder: 'Price:' %> <br>
  <%= form.text_field :name, placeholder: 'Name:' %> <br>
  <%= form.text_field :measurement_unit, placeholder: 'Measurement Unit:' %> <br>

  <%= form.submit "Create Food"%>
<% end %>
  <p><%= @food.name %></p>
</div>

